<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="topNavigation" >
        <ul class="nav nav-pills">
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#/home">Home</a>-->
            <!--</div>-->
            <li role="presentation" class="active"><a href="#/home">Home</a></li>
            <li role="presentation" ><a ng-href="#/menu">Menu</a></li>
            <li role="presentation" ><a ng-href="#/directions">Directions</a></li>
            <li role="presentation" ><a ng-href="#/about">About</a></li>
            <li role="presentation" ><a ng-href="#/contact">Contact</a></li>
            <li role="presentation"><a class="login-link" ng-href="#/login">Log In</a></li>
            <li role="presentation" class="active">
                <a>Cart&nbsp;(&nbsp;{{currentCart.length}}&nbsp;)</a>
            </li>

        </ul>
    </div>
</nav>
