
<div class="container">
    <div id="topNavigation">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#/home">Home</a></li>
            <li role="presentation" ><a href="#/directions">Directions</a></li>
            <li role="presentation" ><a href="#/about">About</a></li>
            <li role="presentation" ><a href="#/contact">Contact</a></li>
            <li><a role="presentation" class="login-link" href="#/login">Log In</a></li>
            <li role="presentation" class="active">
                <a>Cart&nbsp;(&nbsp;{{currentCart.length}}&nbsp;)</a>
            </li>

        </ul>

    </div>

</div>
