
<nav class="navbar navbar-default navbar-fixed-top">
    <div id="topNavigation" >
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#/home">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li role="presentation" ><a href="#/appetizers">Appetizers</a></li>
                    <li role="presentation" ><a href="#/salads">Salads</a></li>
                    <li role="presentation" ><a href="#/burgers">Burgers</a></li>
                    <li role="presentation" ><a href="#/sandwiches">Sandwiches</a></li>
                    <li role="presentation" ><a href="#/kids-menu">Kids Menu</a></li>
                </ul>
            </li>
            <li role="presentation" ><a href="#/directions">Directions</a></li>
            <li role="presentation" ><a href="#/about">About</a></li>
            <li role="presentation" ><a href="#/contact">Contact</a></li>
            <!--<li><a role="presentation" class="login-link" href="#/login">Log In</a></li>-->
            <li role="presentation" class="active">
                <a>Cart&nbsp;(&nbsp;{{currentCart.length}}&nbsp;)</a>
            </li>

        </ul>

    </div>

</nav>
