
<section ng-show="cartIsVisible === true">
    <h3>Current Order</h3>

    <div id="cartContainer" >
        <div ng-repeat="cartItem in currentCart track by $index"  >
            <div class='cart-item-container '>
                <div class='cart-item-name'>{{ cartItem.name }}</div>
                    <div class='cart-item-price'>
                        {{ cartItem.price | currency: '$'}}&nbsp;&nbsp;&nbsp;
                        <a class="delete-icon" ng-click="removeFromOrder($index)">
                            <img class="red-x" src="../../assets/images/red_x.png"/>
                        </a>
                    </div>
                </div>
            </div>
        <hr class="totalLine">
            <div class="order-total">
                Your Order Total: {{ ordersTotal | currency: '$'}}
            </div>
            <div id="checkoutButton">
                <button class="btn btn-primary" ng-click="checkoutOrder()">
                    Proceed To Checkout
                </button>
                <button class="btn btn-primary" ng-click="startOver()">
                    Start Over
                </button>
            </div>

        </div>
    </div>
</section>