<section >
    <h3>Kids Menu</h3>
    <div id="menuContainer" >
        <div ng-repeat="menuItem in menuArray | filter: menuItem.category='Kids'" >
            <div class='menu-item-container well'>
                <div class="image-container">
                    <img class="menu-item-image" src="{{ menuItem.image_url }}"/>
                </div>
                <section class="container-fluid menu-lower-container">
                    <div class='menu-item-name'>{{ menuItem.name }}</div>
                    <div class='menu-item-price'>
                        <p>{{ menuItem.price | currency }}</p>
                        <button class="btn btn-primary" ng-click="addToOrder(menuItem)">add To Order</button>
                    </div>
                    <div class='menu-item-description'>{{ menuItem.description }}</div>
                </section>
            </div>
        </div>
    </div>
</section>