<section class="container" >
    <h3>Sandwiches</h3>
    <div id="menuContainer" >
        <div ng-repeat="menuItem in menuArray | filter: menuItem.category='Sandwiches'" >
            <div class='menu-item-container well'>
                <div class='menu-item-name'>{{ menuItem.name }}</div>
                <div class='menu-item-price'>
                    <p>{{ menuItem.price | currency }}</p>
                    <button class="btn btn-primary" ng-click="addToOrder(menuItem)">add To Order</button>
                </div>
                <div class='menu-item-description'>{{ menuItem.description }}</div>
            </div>
        </div>
    </div>
</section>