
<section class="container">
    <h1 class="lead">Login</h1>
    <p class="message" ng-show="message">{{message}}</p>
    <form name="loginForm" ng-submit="login()" novalidate>
        <fieldset>
            <div>
                <input placeholder="Email" ng-model="user.email"  type="email" name="email" id="email" ng-required="true">
                <p class="validation-error" ng-show="loginForm.email.$invalid && loginForm.email.$touched">Please Enter Your Email</p>
            </div>
            <div>
                <input placeholder="Password"  ng-model="user.password" type="password"  name="password" id="password" ng-required="true">
                <p class="validation-error" ng-show="loginForm.password.$invalid && loginForm.password.$touched">Please Enter Your Password</p>
            </div>
        </fieldset>
            <input ng-disabled="loginForm.$invalid" class="btn btn-primary" type="submit" value="Login"/>
            <p>or&nbsp;<a  ng-href="#/register">Register</a></p>
        </form>


</section>