<section class="container">
    <h2>Thank You!</h2>
    <h4 >Your order is complete.</h4>
    <hr class="thank-you-line"/>
    <h4 class="thank-you-header">Order Number:&nbsp;<span id="orderNumber">{{orderID - 1}}</span></h4>
    <hr class="thank-you-line"/>
    <h4 class="thank-you-header">Customer Name: {{customer.firstName}}&nbsp;{{customer.lastName}}</h4>
    <hr class="thank-you-line"/>
    <h4 class="thank-you-header">Your Final Total: &nbsp; {{ finalTotal | currency:'$' }}</h4>
</section>