<section class="panel">
    <h4>Current Live Orders</h4>
    <div id="dashboardNewOrders" class="dashboard-item">
        <a class="dashboard-tab-header" href="">New Orders (3)</a>
        <div class="dashboard-orders" >Order #1056</div>
        <div class="dashboard-orders" >Order #1055</div>
        <div class="dashboard-orders" >Order #1054</div>
    </div>

    <div id="dashboardInProcess" class="dashboard-item">
        <a class="dashboard-tab-header" href="">Orders In Process (2)</a>
        <div class="dashboard-orders" >Order #1053</div>
        <div class="dashboard-orders" >Order #1052</div>
        <div class="dashboard-orders" >Order #1051</div>
    </div>

    <div id="dashboardReady" class="dashboard-item">
        <a  class="dashboard-tab-header"  href="">Ready (2)</a>
        <div class="dashboard-orders" >Order #1050</div>
        <div class="dashboard-orders" >Order #1049</div>

    </div>
    <div id="dashboardCompleted" class="dashboard-item">
        <a class="dashboard-tab-header" href="">Completed Today (5)</a>
        <div class="dashboard-orders" >Order #1048</div>
        <div class="dashboard-orders" >Order #1047</div>
        <div class="dashboard-orders" >Order #1046</div>
        <div class="dashboard-orders" >Order #1045</div>
        <div class="dashboard-orders" >Order #1044</div>
    </div>
