<section id="admin-dashboard" class="container">
        <header>
            <h3>Dashboard</h3>
        </header>

            <section >
                <a class="btn-lg btn-success" href="#/admin-live-orders">Current Live Orders (9)</a>
            </section>
            <section id="dashboard-bottom" class="container panel">
                <div class="panel">
                    <h4>Restaurant Menu</h4>
                    <a class="btn btn-info" href="#/admin-list-menuItems">View Items</a>
                    <a class="btn btn-info" href="#/admin-add-menuItem">Add Item</a>
                    <a class="btn btn-info" disabled="disabled" href="#/admin-edit-menuItem">Edit Item</a>
                </div>
                <div class="panel">
                    <h4>Restaurant Customers</h4>
                    <a class="btn btn-info" href="#/admin-list-customers">View Customers</a>
                    <a class="btn btn-info" href="#/admin-add-customer">Add Customer</a>
                    <a class="btn btn-info" disabled="disabled" href="#/admin-edit-customer">Edit Customer</a>
                </div>
                <div class="panel">
                    <h4>Completed Orders</h4>
                    <a class="btn btn-info"  disabled="disabled" href="#/admin-list-orders">View Orders</a>
                    <a class="btn btn-info" disabled="disabled" href="#/admin-add-orders">Add An Order</a>
                    <a class="btn btn-info" disabled="disabled"  href="#/admin-edit-orders">Edit Order</a>
                </div>
            </section>
        </div>
    </div>
</section>