<h3>Orders List</h3>
<div ng-repeat="order in orderList">
    <div class="order-entry-container">
        <p class="order-entry-date"><strong>DATE:</strong>&nbsp;{{order.orderDate | date:'medium'}}</p>
        <p class="order-entry"><strong>ORDER ID:</strong>&nbsp;{{order.orderID}}</p>
        <p class="order-entry"><strong>CUSTOMER ID:</strong>&nbsp;{{order.customerID}}</p>

        <div class="order-cart-items" ng-repeat="cart in order.cartItems track by $index">
            <strong>{{$index+1}}.</strong>&nbsp;{{cart.name}} <span class="order-cart-price">{{cart.price | currency}}</span>
        </div>
        <p class="order-entry-total"><strong>ORDER TOTAL:&nbsp;</strong>&nbsp;{{order.finalTotal | currency}}</p>
    </div>

</div>