<section>
    <h3>Current Order</h3>
    <div id="cartContainer" >
        <div ng-repeat="cartItem in currentCart track by $index"  >
            <div class='cart-item-container well'>
                <div class='menu-item-name'>{{ cartItem.name }}</div>
                    <div class='menu-item-price'>
                        {{ cartItem.price | currency: '$'}}&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" ng-click="removeFromOrder($index)">X</button>
                    </div>
                </div>
            </div>
        <div class="order-total">
            Your Order Total: {{ ordersTotal | currency: '$'}}
        </div>
        </div>


    </div>
</section>