<div class="container" ng-controller="MainController">
    <h3>Edit Item</h3>
    <form id="editCustomer">
        <input type="text" id="firstName" name="firstName"/>
        <input type="text" id="lastName" name="lastName"/>
        <input type="text" id="email" name="email" />
        <input type="text" id="street" name="street" />
        <input type="text" id="city" name="city" />
        <input type="text" id="state" name="state" />
        <input type="text" id="zip" name="zip" />
        <button ng-click="saveCustomer(id)" >Save Item</button>
    </form>
</div>