<section id="admin-dashboard" class="container">
    <header class="admin-container">
        <h3>Dashboard Home</h3>
        <section id="adminMenu" class="container">
            <p class="container">
                <a class="btn btn-primary"   href="#/admin-list-orders">View/Edit Orders</a>
            </p>
            <p class="container">
                <a class="btn btn-primary" href="#/admin-list-customers">View/Edit Customers</a>
            </p>
            <p class="container">
                <a class="btn btn-primary" href="#/admin-list-menuItems">View/Edit Menu</a>
            </p>
        </section>
    </header>
</section>
