<div class="container" >
    <p><nav ng-include="'/views/admin/admin-menu.html'"></nav></p>
    <h3>Add Customer</h3>
    <form id="addCustomer" >
        <div>
            <input type="text" ng-model="customer.firstName" id="firstName" name="firstName" placeholder="First Name"/>
        </div>
        <div>
            <input type="text"  ng-model="customer.lastName" id="lastName" name="lastName" placeholder="Last Name"/>
        </div>
        <div>
            <input type="text"  ng-model="customer.email "id="email" name="email" placeholder="Email"/>
        </div>
        <div>
            <input type="text"  ng-model="customer.street" id="street" name="street" placeholder="Street"/>
        </div>
        <div>
            <input type="text"  ng-model="customer.street" id="city" name="city" placeholder="City"/>
        </div>
        <div>
            <input type="text"  ng-model="customer.city" id="state" name="state" placeholder="State"/>
        </div>
        <div>
            <input type="text" ng-model="customer.zip" id="zip" name="zip"  placeholder="Zip"/>
        </div>
        <div>
            <button class="btn btn-primary" ng-click="addCustomer(customer)" >Add Customer</button>
        </div>
    </form>
</div>